*{
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(0, 153, 255), #0000ff);
}

/* Calculator Box */
#calculator-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 320px ;
    height: 520px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 20px black;
}

/* Display Box */
#display-box {
    height: 120px;
    width: 100%;
    text-align: right;
}

#history {
    height: 20px;
    margin: 0 20px;
    color: gray;
    font-size: 15px;
}

#output {
    height: 20px;
    margin: 10 20px;
    font-size: 30px;
}

/* Buttons of calculator */
#buttons-box {
    width: 100%;
    height: 380px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 2px;
    row-gap: 2px;
    justify-content: stretch;
}

.btn {
    width: 100%;
    height: 100%;
    margin: 0;
    justify-self: stretch;
    background-color: rgb(231, 231, 231);
    border-radius: 0;
    border: none;
    font-weight: bold;
    font-size: large;
}

.btn:hover {
    background-color: rgb(190, 190, 190);
    border: none;
}

/* Operand Buttons */
[id='0'] {
    grid-column-start: 1;
    grid-column-end : 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
[id='2'] {
 grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
[id='2'] {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
[id='3'] {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

[id='4'] {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
[id='5'] {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
[id='6'] {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

[id='7'] {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
[id='8'] {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
[id='9'] {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Operator buttons */
[id='+'], [id='-'], [id='*'], [id='/'], [id='%'] {
    color: rgb(0, 153, 255);
}

[id='+'] {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
[id='-'] {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
[id='*'] {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
[id='/'] {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
[id='%'] {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Equal to and clear and backspace buttons */
[id='='] {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: rgb(255, 117, 93);
}
#clear{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#backspace {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}